typedef struct mainAirport * mainAirportADT;
typedef struct subAir * subAirADT;

*/ List of sub lists where every node on the main list is an Airport from the Airport.cvs file so that all Airports are included
in alphabetical order according to their oaci. The sublists of every node consist of Airports arranged in aplhabetical order 
according to oaci (that may or may not be on the main list) that had a flight takeoff to or landed from the main node´s Airport /*

typedef struct subAir{
char * oaci;
size_t takeoffs; //amount of flight that takeoff from this specific subAirport to corresponding mainAirpot 
size_t landings; //amount of flight that land on this specific subAirport from corresponding mainAirport
subAirADT nextSub;
}subAir;

typedef struct mainAirport{
char * oaci;
char * local;
char * iata;
char * info; // name of Airport
size_t traffic; // 0 national 1 international
size_t takeoffs;
size_t landings;
size_t landingsInter;
size_t takeoffsInter;
struct mainAirportADT nextMain;
subAirADT firstSub;
}mainAirport;

mainAirportADT
newList(void)
{
mainAirportADT firstMain=NULL;
return firstMain;
}

void
freeList()

int
addmainAir()

int
addsubAir()


