typedef struct Aeropuerto * AeropuertoADT;
typedef struct subAero * subAeroADT;

typedef struct subAero{
char * oaci;
size_t cant_desp;
size_t cant_ater;
struct subAero * next;
}subAero;

typedef struct Aeropuerto{
char * oaci;
char * local;
char * iata;
char * info;
size_t traffic; // 0 nacional 1 internacional
size_t cant_ater;
size_t cant_desp;
size_t cant_ater_inter;
size_t cant_desp_inter;
struct Aeropuerto * next;
subAero * first;
}Aeropuerto;

AeropuertoADT
newLista(void)
{
AeropuertoADT first=NULL;
return first;
}

void
freeLista()

int
addAero()

int
addsubAero()


