typedef struct AeropuertoT{
char * local;
char * oaci;
char * iata;
unsigned int denominacion;
unsigned int trafico;
struct AeropuertoT * tail;
}AeropuertoT;

typedef struct VuelosT{
char * fecha;
unsigned int tipo;
char * origen;
char * destino;
struct VuelosT * tail;

